.outer-box {
	width: 400px;
	height: 500px;
	display: block;
	position: relative;
	padding-top: 50px;
	margin: auto;
}

#inner-box {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 50;
}

.outer-box #inner-box h1 {
  line-height: 400px;
  text-align: center;
}

#inner-box .flicker {
   color: transparent;
   text-shadow: white 0 0 1px;

   -webkit-transition: text-shadow 0.2s ease-in-out;
   -moz-transition:    text-shadow 0.2s ease-in-out;
   transition:         text-shadow 0.2s ease-in-out;
}